.container{
    background-color: palegreen;
    height: 100vh;
    width: 100vw;
}
.box{
    height: 300px;
    width: 250px;
    color: black;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation-name: mineAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: mineAnimate 2s ease 1s 5 reverse;

}
@keyframes mineAnimate{
    from{
        width: 250px;
        height: 300px;
    }
    to{
        width: 500px;
        height: 600px;
    }
}