 *{
    margin: 0;
    padding: 0;
}
.container {
    width: 344px;
    height: 1744px;
    border: 3px solid grey;
    /* background: rgb(97, 16, 97); */
    color: white;
    /* background-image: url('index.jpg');
    background-repeat: no-repeat; */
    /* background-size: 63px 70px; */
    /* background-position: center; */
    /* background-attachment: local; */
    background: lightsalmon url('index.jpg') no-repeat fixed;
}
