/* html{
    font-size: 5px;
} */
.container {
    font-size: 20px;

}

.box {
    /* font-size: 3em; */
    /* font-size: 12px; */
    /* font-size: 10rem; */
    background-color: palevioletred;
}

.box2 {
    font-size: 50px;
    background-color: greenyellow;
    width: 50vw;
    height: 30vh;
}