.container{
display: flex;
flex-direction: row;
background-color: aquamarine;
height: 100vh;
/* flex-wrap: wrap; */
justify-content:center;
/* align-content:flex-end; */
align-items: center;
/* align-content: center; */
}
.box{
    background-color: purple;
    height: 150px;
    /* width: 200px; */
    border: 2px solid black;
    /* order:1; */
    flex-grow: 1;
}
.box2{
    background-color: greenyellow;
    height: 150px;
    /* width: 200px; */
    border: 2px solid black;
    flex-grow: 1;
}
.box3{
    background-color: goldenrod;
    height: 150px;
    /* width: 200px; */
    border: 2px solid black;
    /* align-self: baseline; */
    flex-grow: 1;
}
.box4{
    background-color: yellow;
    height: 150px;
    /* width: 200px; */
    border: 2px solid black;
    flex-grow: 2;
}